input[type = submit]{
	height: 50px;
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 6px;
}

#homeCenter{
	width: 250px;
	background-color: #89CFF0;
	padding: 20px;
	position: absolute;
	border-radius: 6px;
	margin-left: 35%;
	margin-top: 50px;
}